@use './variables' as *;

#comic-list {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: $dark;

    .current-series {
        width: fit-content;
        background-color: $primary;
        padding: 0.5rem 1.5rem;
        color: $lighter;
        margin-top: -3rem;
        margin-left: -1rem;
        font-weight: bold;

    }

    .card {

        height: 100%;

        .card-top {
            height: 13rem;
            overflow-y: hidden;

            img {
                object-fit: cover;
                object-position: center;
                max-width: 100%;

            }
        }

        .card-body {
            text-align: center;
            display: flex;
            align-items: center;
            color: $lighter;
            background-color: $dark;
        }
    }

}