@use './variables' as *;

footer {
    border-top: 3px solid $darkblue;

    background-image: url('../img/footer-bg.jpg');

    .col {
        display: flex;
        justify-content: center;
    }

    ul {


        h6 {
            color: $lighter;

        }

        li {
            color: $light;
            font-size: small;
            font-weight: 500;
        }
    }

    .logo-footer {
        background-image: url('../img/dc-logo-bg.png');
        background-size: cover;
        background-position: center;
    }
}